* {
    font-family: Open Sans;
    box-sizing: border-box;
    margin: 0;
}
html {
    background-color: #E5EBED;
}

/* Common */
.text-price {
    color: #3D3F40;
    line-height: 19px;
    font-size: 13px;
    font-weight: 400;
}

.price {
    margin: 0;
    font-weight: 700;
    color: #3D3F40;
    font-size: 16px;
    line-height: 24px;
}

.old-price {
    margin: 0;
    color: var(--custom-color);
    font-size: 16px;
    line-height: 24px;
}

.sell {
    margin: 0;
    font-weight: 700;
    color: #004C73;
    font-size: 14px;
    line-height: 20px;
}

.group-discount p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin: 0;
}

.banner {
    padding: 16px 0;
}

.home {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0%;
    color: #000000BD;
    text-decoration: none;
}

.page {
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0%;
    color: #0A0A0AF5;
}
/*  */

/* header */
.header {
    margin: 0 auto;
}

.top-header {
    height: 36px;
    text-align: right;
    background-color: #E5EBED;
    padding-right: 20px;
    overflow: hidden;
}

img.icon-header {
    margin-right: 8px;
}

.top-header .box-header {
    display: inline-block;
}
.top-header .tn-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: #3D3F40;
    float: left;
    padding: 12px 0 12px 15px;
    list-style-position: inside;
}

.top-header .tn-text-1 {
    list-style-type: none;
}
/* end header */

/* content */
.content {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #E5EBED;
}

.content .group-nav {
    padding: 0;
 }

.box-nav {
    width: auto;
    height: 60px;
    padding: 0;
    gap: 10px;
    background-color: #44BD32;
    text-align: center;
}

.box-nav .menu-li {
    padding: 0 12px 0 14px;
}

.search-container {
    position: relative;
    height: 36px;
   max-width: 580px;
}

.search-container .input-search {
    width: 580px;
    height: 36px;
    padding: 0 12px;
    border-style: none;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}

.search-container .search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-60%);
    cursor: pointer;
}

.search-mb{
    display: none;
}

.search-container .search img {
    width: 20px;
    height: 20px;
}

.box-nav .icon-user {
    padding: 0 16px;
    background-color: #44BD32;
    border: 0;
}
/* end content */


/* footer */
.footer{
    padding-top: 16px;
    background-color: #E5EBED;
}

.about-me .support-cus {
    background-color: #DCE3EC;
    padding: 40px 16px 20px 16px;
    gap: 10px;
}

.support-cus .header-network h6,
.support-cus .text-header h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.support-cus .header-network h6 {
    padding-bottom: 5px;
}

.support-cus .icon-network ul,
.support-cus .text-description ul {
    padding: 0;
    list-style: none;
}

.support-cus .icon-network li,
.support-cus .text-description li {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.icon-network .dowload li {
    padding: 0px 0px 10px 0px;
    gap: 10px;
}

.icon-network .back-top {
    margin: -40px 0 0 0;
    /* margin-right: 15px; */
    float: inline-end;
}

.icon-network .back-top li {
    background-color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    left: 0;
}

.footer .contact {
    padding: 20px 0px 20px 0px;
    background-color: #687481;
    color: #FFFFFFF5;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.footer .contact span {
    font-weight: 700;
}
/* end footer */

/* modal login */
.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}

.modal-container .Mcontentlogin {
    width: 500px;
    min-height: 300px;
    border-radius: 10px;
    animation: modalFadeIn ease .5s;
}

@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}

.Mcontentlogin .Mheaderlogin {
    border-bottom: 0.5px solid #dee2e6;
}

.Mcontentlogin .Mbodylogin {
    font-size: 14px;
}

.Mbodylogin .btn-Mlogin {
    width: 100%;
    height: 40px;
    margin: 0 0 8px 0;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.Mbodylogin .btn-Mlogin:hover {
    background-color: #0097E6;
    color: #fff;
}

.Mcontentlogin .Mfooterlogin {
    border: 0;
    font-size: 14px;
    justify-content: center;
    justify-items: center;
}

.Mfooterlogin p {
    color: var(--custom-color);
}
.Mfooterlogin p > span {
    color: #44BD32;
}
/* end modal login */